
div(class="index_head")
    div(class="index_head_text")
        h1 New Automation Tool for Your Home
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum veritatis dignissimos deserunt culpa id enim et eaque, ex adipisci nesciunt deleniti.
        button See Our Project
    div
        img(src="img/home/index.png", alt="HomeIMG")

div(class="info_body")
    div(class="info_column1")
        h2 What we do to help our client grow in digital era,
        div(class="info_card")
            img(src="img/home/2.png", alt="User")
            h3 Make Your business To Be Better Famous In Internet
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem omnis magni reprehenderit mollitia, harum quasi quis consectetur molestias eos.
            a(href="#") Learn more →
        
    div(class="info_column1")
        div(class="info_card")
            img(src="img/home/1.png", alt="User")
            h3 Bring Technology To Your Comfortable Home
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem omnis magni reprehenderit mollitia, harum quasi quis consectetur molestias eos.
            a(href="#") Learn more →
        div(class="info_card")
            img(src="img/home/3.png", alt="User")
            h3 Build Your Digital Product That Suitable For You Need
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem omnis magni reprehenderit mollitia, harum quasi quis consectetur molestias eos.
            a(href="#") Learn more →

div(class="project")
    div(class="finished_project")
        h3 Our Finished Project
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores rerum nostrum architecto quaerat assumenda alias harum veniam dignissimos ex, similique natus ab? Nesciunt, sint.
    div(class="img_project")
        div(class="big_pic")
            div(class="big_img_text")
                h4 Smart Home Installation
                p In Muarakana Housing Estate
            img(src="img/home/4.png", alt="project")
        div(class="small_pic")
            div(class="small_pic_div")
                div(class="small_img_text")
                    h4 Sparklite App
                    p Marketplace
                img(src="img/home/5.png", alt="project")
            div
                div(class="small_img_text")
                    h4 Car-Rapetition App
                    p Board
                img(src="img/home/6.png", alt="project")

div(class="ext_footer")
    div(class="ext_footer_inf")
        h3 Our Finished Project
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores rerum nostrum architecto quaerat assumenda alias harum veniam dignissimos ex, similique natus ab? Nesciunt, sint.
    div(class="ext_footer_user_logo")
            p LOGO CLIENT 1
            p LOGO CLIENT 2
            p LOGO CLIENT 3
            p LOGO CLIENT 4
    div(class="ext_footer_user_logo_2")       
            p LOGO CLIENT 5
            p LOGO CLIENT 6
            p LOGO CLIENT 7
            p More Client
