.header_main{
    display: block;
    position: absolute;
    top: 48px;
}

.img_logo{
    position: fixed;
    left: 83px;
}

.img_menu{
    position: fixed;
    right: 87px;
}

.img_fon{
    position: fixed;
    top: 130px;
    height: 250px;
    width: 100%;
}