.header_main{
    display: block;
    position: relative;
    top: 48px;
    width: 100%;
    height: 128px;
    overflow: hidden;
}

.img_logo{
    display: block;
    position: absolute;
    left: 83px;
    margin: 0;
    z-index: -1;
}

.img_menu{
    display: block;
    position: absolute;
    right: 87px;
    z-index: 999999;
}

