.header_main{
    display: block;
    position: absolute;
    top: 48px;
    z-index: 999999;
}

.img_logo{
    position: fixed;
    left: 83px;
}

.img_menu{
    position: fixed;
    right: 87px;
    z-index: 999999;
}

