div(class="header_main")
        img(src="img/svg/Logo.svg", alt="Logo", class="img_logo")
        //- button(src="img/svg/ic_menu_open.svg", alt="Menu", onclick="myFunction()", class="img_menu")
        img(src="img/svg/ic_menu_open.svg", alt="Menu", onclick="myFunction()", class="img_menu")
