<div class="header_main">
    img(src="img/svg/Logo.svg", alt="Logo", class="img_logo")
    img(src="img/svg/ic_menu_open.svg", alt="Menu", class="img_menu")
    img(src="img/fon.png", alt="Fon" class="img_fon")
</div>