div(class="blog_content")
    h2 POPULAR
    //- Статья 1
    div(class="article_max")
        div
            h2 Feugiat sodales at nullam tellus. 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum vitae voluptatum tempore placeat maxime! Veritatis saepe, sunt repudiandae reiciendis placeat, possimus eum, nesciunt cum ut nihil in!
            div(class="article_info")
                div
                    h6 Samatha Leuthex
                    p May 5, 3 min read 
                img(src="img/svg/baseline-bookmarks-24px.svg", alt="bookmarks")
                img(src="img/svg/ic_share_24px.svg", alt="share")
        img(src="img/blog/1.png", alt="IMG")
    
    //- Статья 2
    
    div(class="article_mini")
        img(src="img/blog/2.png", alt="IMG")
        h3 Porta proin tellus sed pulvinar odio eu pulvinar.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio necessitatibus dignissimos ex atque laborum quasi repellendus alias. Id!
        div(class="article_info")
            div
                h6 Samatha Leuthex
                p May 5, 3 min read 
            img(src="img/svg/baseline-bookmarks-24px.svg", alt="bookmarks")
            img(src="img/svg/ic_share_24px.svg", alt="share")   

    //- Статья 3
    div(class="article_mini")
        img(src="img/blog/3.png", alt="IMG")
        h3 Non quam tortor, proin eu egestas scelerisque purus.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio necessitatibus dignissimos ex atque laborum quasi repellendus alias. Id!
        div(class="article_info")
            div
                h6 Samatha Leuthex
                p May 5, 3 min read 
            img(src="img/svg/baseline-bookmarks-24px.svg", alt="bookmarks")
            img(src="img/svg/ic_share_24px.svg", alt="share") 

    //- Статья 4
    div(class="article_mini")
        img(src="img/blog/4.png", alt="IMG")
        h3 Amet amet sed pharterra risus sit egt interdum
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio necessitatibus dignissimos ex atque laborum quasi repellendus alias. Id!
        div(class="article_info")
            div
                h6 Samatha Leuthex
                p May 5, 3 min read 
            img(src="img/svg/baseline-bookmarks-24px.svg", alt="bookmarks")
            img(src="img/svg/ic_share_24px.svg", alt="share")
    

    a(href="#", class="link") SEE ALL POPULAR ARTICLE
    hr(class="hr_separator")
    h2 ALL ARTICLE     

    //- Статья 5
    div(class="article_medium")
        img(src="img/blog/5.png", alt="IMG")
        div 
            h3 Messa eu in laoreet enim augue vulputate nunc.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio necessitatibus dignissimos ex atque laborum quasi repellendus alias. Id!
            div(class="article_info")
                div
                    h6 Samatha Leuthex
                    p May 5, 3 min read
                img(src="img/svg/baseline-bookmarks-24px.svg", alt="bookmarks")
                img(src="img/svg/ic_share_24px.svg", alt="share")

    //- Статья 6
    div(class="article_medium")
        img(src="img/blog/6.png", alt="IMG")
        div 
            h3 Feugiat a euismod arcu feugiat posuere morbi.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio necessitatibus dignissimos ex atque laborum quasi repellendus alias. Id!
            div(class="article_info")
                div
                    h6 Samatha Leuthex
                    p May 5, 3 min read
                img(src="img/svg/baseline-bookmarks-24px.svg", alt="bookmarks")
                img(src="img/svg/ic_share_24px.svg", alt="share")

    //- Статья 7
    div(class="article_medium")
        img(src="img/blog/7.png", alt="IMG")
        div 
            h3 Sociis purus pellentesque faucibus vitae et felis.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio necessitatibus dignissimos ex atque laborum quasi repellendus alias. Id!
            div(class="article_info")
                div
                    h6 Samatha Leuthex
                    p May 5, 3 min read
                img(src="img/svg/baseline-bookmarks-24px.svg", alt="bookmarks")
                img(src="img/svg/ic_share_24px.svg", alt="share")

    //- Статья 8
    div(class="article_medium")
        img(src="img/blog/8.png", alt="IMG")
        div 
            h3 Cursus feugiat mi pellentesque mauris sed eu.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio necessitatibus dignissimos ex atque laborum quasi repellendus alias. Id!
            div(class="article_info")
                div 
                    h6 Samatha Leuthex
                    p May 5, 3 min read
                img(src="img/svg/baseline-bookmarks-24px.svg", alt="bookmarks")
                img(src="img/svg/ic_share_24px.svg", alt="share")

    //- Статья 9
    div(class="article_medium")
        img(src="img/blog/9.png", alt="IMG")
        div 
            h3 A morbi arcu curabitur etiam fringilla augue.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio necessitatibus dignissimos ex atque laborum quasi repellendus alias. Id!
            div(class="article_info")
                div
                    h6 Samatha Leuthex
                    p May 5, 3 min read
                img(src="img/svg/baseline-bookmarks-24px.svg", alt="bookmarks")
                img(src="img/svg/ic_share_24px.svg", alt="share")

    div(class="arrow")
        div(class="back")
            img(src="img/svg/ic_arrow_back_18px.svg", alt="back")
            a(href="#") New Post
        div(class="forward")
            a(href="#") Old Post
            img(src="img/svg/ic_arrow_forward_18px.svg", alt="forward")