script.
        function closeDiv(){
                document.getElementById("myDropdown").style.display = "none";
        }

<div id="myDropdown" class="menu_list">
    <input type="image" class="menuicon" src="../img/svg/ic_menu_close.svg" alt="Close" onclick="closeDiv()" right=20 position=fixed>

    <div class="vertmenu">
        <ul>
            <li>
                <a href="index.html">Home Page</a>
            </li>
            <li>
                <a href="blog.html">Blog</a>
            </li>
            <li>
                <a class="active" href="contacts.html">About US</a>
                <input type="checkbox" class="subCat" id="1" checked="checked" />
                <label class="chka" for="1"></label>
                <ul style="display:none">
                    <li>
                        <a class="active" href="contacts.html">About</a>
                    </li>
                    <li>
                        <a href="contacts.html">What We Do</a>
                    </li>
                    <li>
                        <a href="contacts.html">Project</a>
                    </li>
                    <li>
                        <a href="contacts.html">How It Work With Us</a>
                    </li>
                </ul>
            </li>   
            <li>
                <a href="#">Follow US</a>
                <input type="checkbox" class="subCat" id="2" />
                <label class="chka" for="2"></label>
                <ul style="display:none">
                    <li>
                        <a href="contacts.html">Instagram</a>
                    </li>
                    <li>
                        <a href="contacts.html">Facebook</a>
                    </li>
                    <li>
                        <a href="contacts.html">LinkedIn</a>
                    </li>
                    <li>
                        <a href="contacts.html">Youtube</a>
                    </li>
        </ul>
    </div>
</div>