<div class="menu_list">
    <input type="image" class="menuicon" src="../img/svg/ic_menu_close.svg" alt="Close" right=20 position=fixed>

    <div class="vertmenu">
        <ul>
            <li>
                <a href="index.html">Home Page</a>
            </li>
            <li>
                <a href="blog.html">Blog</a>
            </li>
            <li>
                <a class="active" href="contacts.html">About US</a>
                <input type="checkbox" class="subCat" id="1" checked="checked" />
                <label class="chka" for="1"></label>
                <ul style="display:none">
                    <li>
                        <a class="active" href="contacts.html">About</a>
                    </li>
                    <li>
                        <a href="contacts.html">What We Do</a>
                    </li>
                    <li>
                        <a href="contacts.html">Project</a>
                    </li>
                    <li>
                        <a href="contacts.html">How It Work With Us</a>
                    </li>
                </ul>
            </li>   
            <li>
                <a href="#">Follow US</a>
                <input type="checkbox" class="subCat" id="2" />
                <label class="chka" for="2"></label>
                <ul style="display:none">
                    <li>
                        <a href="contacts.html">About</a>
                    </li>
                    <li>
                        <a href="contacts.html">Map</a>
                    </li>
        </ul>
    </div>
</div>
//- <nav class="menu">
//-   <ul class="topmenu">
//-     <li><a href="index.html">Home</a></li>
//-     <li><a href="blog.html">Blog</a></li>
//-     <li><a href="contacts.html">About US<i class="angle-down"></i></a>
//-       <ul class="submenu">
//-         <li><a href="contacts.html">About</a></li>
//-         <li><a href="contacts.html">What We Do</a></li>
//-         <li><a href="contacts.html">Project</a></li>
//-         <li><a href="contacts.html">How It Work With Us</a></li>
//-       </ul>
//-     </li>    
//-     <li><a href="contacts.html">Follow US<i class="angle-down"></i></a>
//-       <ul class="submenu">
//-         <li><a href="contacts.html">About</a></li>
//-         <li><a href="contacts.html">Map</a></li>
//-       </ul>
//-     </li>
//-   </ul>
//- </nav>
