extends layouts/default
include helpers/mixins

block variables
	- const title = "HomePage"

block content
	include ../blocks/modules/header/header
	include ../blocks/modules/home/home 
	include ../blocks/modules/menu/menu
	include ../blocks/modules/footer/footer
	include ../blocks/modules/header/myFunction.js

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
	script(src="js/header.js")

//- script
//-     include src/blocks/modules/header/header.js


//- <body>
//- <img src="src\img\favicon\fon.png", alt="Fon"/>
//- </body>
