div(class="contacts_body")
    div(class="contact_info")
        img(src="img/contacts/contacts.png", alt="contacts")
        h2 ADDRESS 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, illo tempora. Illo.
        h2 PHONE 
        div(class="logo_text")
            img(src="img/svg/phone.svg", alt="Phone")
            p +62-812-7313-4321
        div(class="logo_text")
            img(src="img/svg/phone.svg", alt="Phone")
            p +62-817-0000-1234
        h2 ONLINE SERVICE 
        div(class="logo_text")
            img(src="img/svg/browser.svg", alt="browser")
            p www.afrianska.com
        div(class="logo_text")
            img(src="img/svg/mail.svg", alt="eMail")
            p hello.afrianska@gmail.com
    
    div(class="send_review")
        h2 SEND US MESSAGE 
        div(class="input_block")
            h4 Full Name 
            input(type="text", placeholder="Your Name")
        div(class="input_block")
            h4 Email
            input(type="text", placeholder="Your Email")
        div(class="input_big_block")
            h4 Full Name 
            input(type="text", placeholder="Your Message")
        button SUBMIT
div(class="map")
    img(src="img/contacts/map.png", alt="map")