div
    //- Картинка + текст
    div(class="blog_head_fon")
        img(src="img/fon.png", alt="Fon" class="img_fon")
        h1(class="head_text") Blog Afrianska 
        h3(class="head_info") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consectetur voluptatum ad, voluptate nisi iure?

    //- Поиск
    div(class="search")
        input(type="text", maxlength= "50", placeholder="Search Article", class="searchbar")
        img(src="img/svg/search.svg", alt="search icon", class="button")