div(class="footer")
    div(class="footer_text")
        h2(class="text_head") Intersted to woek with our team?
        p(class="text_info")  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, ea molestiae quia, beatae ipsa recusandae nam totam quasi consequatur tenetur et voluptatem accusantium ut.
    div(class="footer_button")
        a.btn() Let's Talk
    hr
    div(class="contacts")
        div(class="contacts1")
            img(src="img/svg/logo2.svg", alt="Logo")
            h3(class="contact1logo") Afrianska
        div(class="contacts2")
            a(href="#") A.
            a(href="#") Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        div(class="contacts3")
            a(href="#") T.
            a(href="#") +62-812-7313-4321
        div(class="contacts4")
            a(href="#") E.
            a(href="#") hello.afrian@gmail.com
    div(class="about_us")
        h4 About US
        a(href="#") About
        a(href="#") What We Do 
        a(href="#") Project 
        a(href="#") How It Work With Us
    div(class="follow_us")
        h4 Follow US
        a(href="#") Instagram
        a(href="#") Facebook 
        a(href="#") LinkedIn
        a(href="#") Youtube
    <h5> 2019 (C) Afrianska. All rights reserved.

