//- <h1 class="head_blog">Blog Afrianska</h1>
//- <h5 class="head_info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus vero ab earum minima, rem illo at quibusdam dolore!</h5>

//- input(type="text", name="Share", class="share")
