div(class="footer")
    div(class="footer_info")
        div(class="footer_text")
            h2(class="text_head") Intersted to woek with our team?
            p(class="text_info")  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, ea molestiae quia, beatae ipsa recusandae nam totam quasi consequatur tenetur et voluptatem accusantium ut.
        div(class="footer_button")
            a.btn() Let's Talk
        hr
        div(class="footer_about")
            div(class="contacts")
                <h1> 111
                <h2> 222
            div(class="about_us")
                <h1> 111
                <h2> 222
            div(class="follow_us")
                <h1> 111
                <h2> 222
    div(class="footer_vector")

